version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    groups:
      azure-actions:
        patterns:
          - 'azure/*'
      docker-actions:
        patterns:
          - 'docker/*'
      github-actions:
        patterns:
          - 'actions/*'
          - 'github/*'