# This workflow will deploy a Docker image in ghcr.io to an Azure WebApp.
name: Deploy docker image to Azure WebApp

on:
  workflow_call:
    secrets: 
      AZURE_CREDENTIALS:
        description: 'Service principal that has access to the Azure apps (dev and prod) - Defined in org action secrets'
        required: true
      AZURE_WEBAPP_PUBLISH_PROFILE:
        description: 'Publish profile for the Azure WebApp being deployed - Defined in repo action secrets'
        required: true
      DEPLOY_TOKEN:
        description: 'Token that is used to determine if the deployment is allowed - Defined in org action secrets'
        required: true
      PRODUCTION_DEPLOYERS:
        description: 'Name of the team that defines who can deploy to production - Defined in org action secrets'
        required: true

    inputs:
      deploy-env:
        description: 'environment to deploy (i.e. dev | prod)'
        required: true
        type: string
      azure-webapp-name:
        description: 'Azure application name of application to deploy (i.e. clearlydefined-api | cdcrawler | clearlydefined)'
        required: true
        type: string
      application-version:
        description: 'the tag to use for the image (e.g. prod: v1.2.0, dev: v1.2.0+dev:1D3F567890)'
        required: true
        type: string
      image-name-with-tag:
        description: 'Docker image name with the tag (e.g. ghcr.io/clearlydefined/clearlydefined-api:v1.2.0)'
        required: true
        type: string
        
jobs:
  check-deployable:
    uses: clearlydefined/operations/.github/workflows/app-is-deployable.yml@v1.1.1-rc11
    with:
      deploy-env: ${{ inputs.deploy-env }}
    secrets:
      DEPLOY_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
      PRODUCTION_DEPLOYERS: ${{ secrets.PRODUCTION_DEPLOYERS }}

  deploy:
    name: Deploy to Azure WebApp
    runs-on: ubuntu-latest
    needs: check-deployable
    steps:
      - name: Login for Azure cli commands
        uses: azure/login@v2.0.0
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set DOCKER configs in Azure web app
        uses: azure/appservice-settings@v1.1.1-rc11
        with:
          app-name: ${{ inputs.azure-webapp-name }}
          app-settings-json: |
            [
              {
                "name": "DOCKER_CUSTOM_IMAGE_NAME",
                "value": "${{ inputs.image-name-with-tag }}",
                "slotSetting": false
              },
              {
                "name": "DOCKER_REGISTRY_SERVER_URL",
                "value": "https://ghcr.io",
                "slotSetting": false
              },
              {
                "name": "APP_VERSION",
                "value": "${{ inputs.application-version }}",
                "slotSetting": false
              },
              {
                "name": "BUILD_SHA",
                "value": "${{ github.sha }}",
                "slotSetting": false
              }
            ]
  
      # v3.0.1 passes when AZURE_WEBAPP_PUBLISH_PROFILE_PROD isn't set, but should fail.
      # Added secret check above to ensure it is set.
      - name: Deploy to Azure WebApp
        uses: azure/webapps-deploy@v3.0.1
        with:
          app-name: ${{ inputs.azure-webapp-name }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: '${{ inputs.image-name-with-tag }}'
