# This workflow will build a docker image, push it to ghcr.io.  It returns the docker image name and tag.
name: Build docker image for Azure app

on:
  workflow_call:
    secrets: 
      DEPLOY_TOKEN:
        description: 'Token that is used to determine if the deployment is allowed - Defined in org action secrets'
        required: true
      PRODUCTION_DEPLOYERS:
        description: 'Name of the team that defines who can deploy to production - Defined in org action secrets'
        required: true
      DOCKERHUB_TOKEN: 
        description: 'Token to be used if publishing image to dockerhub, input.docker-hub-username must also be provided'
        required: false


    inputs:
      deploy-env:
        description: 'environment to deploy (i.e. dev | prod) - used as a label for the Docker image'
        required: true
        type: string
      application-type:
        description: 'application type (i.e. api | worker | ui) - used as a label for the Docker image'
        required: true
        type: string
      application-version:
        description: 'the tag to use for the image (e.g. prod: v1.2.0, dev: v1.2.0+dev:1D3F567890)'
        required: true
        type: string
      build-args:
        description: 'optionally pass in build args to the Docker build command (e.g. "MY_VAR=my_value")'
        required: false
        type: string
      docker-hub-username:
        description: 'optionally pass to publish image to docker-hub'
        required: false
        type: string
      
    outputs:
      docker-image-name-with-tag: 
        value: ${{ jobs.build-image-names.outputs.docker-image-to-use }}

jobs:
  check-deployable:
    uses: ./.github/workflows/app-is-deployable.yml
    with:
      deploy-env: ${{ inputs.deploy-env }}
    secrets:
      DEPLOY_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
      PRODUCTION_DEPLOYERS: ${{ secrets.PRODUCTION_DEPLOYERS }}

  build-image-names:
    name: Determine Image Name
    runs-on: ubuntu-latest
    outputs: 
      names-with-tags: ${{ env.DOCKER_IMAGE_TAGS }}
      docker-image-to-use: ${{ env.DOCKER_IMAGE_TO_USE }}
    steps:
      - name: Checkout this repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: 'clearlydefined/operations'
          ref: 'v3.2.0'
          path: 'operations'
      - name: Determine Image Name
        id: determine-image-name
        run: |
          echo "BUILD_ARGS=${{ inputs.build-args }}"
          script_log=$(./operations/scripts/app-workflows/determine-image-name.sh \
            "${{ github.event.repository.name  }}" \
            "${{ inputs.deploy-env }}") || (echo "$script_log" && exit 1)
          echo -e "---- script log\n$script_log\n----"; \
          image_name=$(echo "$script_log" | tail -n 1)
          echo "IMAGE_NAME=$image_name" >> $GITHUB_ENV
      - name: Add ghcr.io 
        id: add-ghcr
        run: |
          ghcr_image_tags="ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${{ inputs.application-version }}"
          echo "DOCKER_IMAGE_TAGS=$ghcr_image_tags" >> $GITHUB_ENV
          echo "DOCKER_IMAGE_TO_USE=$ghcr_image_tags" >> $GITHUB_ENV
      - name: add-dockerhub
        if: ${{ inputs.docker-hub-username != '' }}
        id: add-dockerhub
        run: |
          docker_image_tag="${{ inputs.docker-hub-username }}/${{ env.IMAGE_NAME }}:${{ inputs.application-version }}"
          latest_image_tag="${{ inputs.docker-hub-username }}/${{ env.IMAGE_NAME }}:latest"
          echo "DOCKER_IMAGE_TAGS=${{ env.DOCKER_IMAGE_TAGS }}, $docker_image_tag, $latest_image_tag" >> $GITHUB_ENV
          # use Docker Hub image if it is created by overwriting DOCKER_IMAGE_TO_USE
          echo "DOCKER_IMAGE_TO_USE=$docker_image_tags" >> $GITHUB_ENV

  build-docker-image:
    name: Build Image
    runs-on: ubuntu-latest
    needs: [check-deployable, build-image-names]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Log into Docker Hub
        if: ${{ inputs.docker-hub-username != '' }}
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          username: ${{ inputs.docker-hub-username }} 
          password: ${{ secrets.DOCKERHUB_TOKEN }} 

      - name: Log into ghcr registry
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }} # user that kicked off the action
          password: ${{ secrets.GITHUB_TOKEN }} # token created when the action launched (short lived)

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          file: Dockerfile
          build-args: |
            APP_VERSION=${{ inputs.application-version }}
            BUILD_SHA=${{ github.sha }}
            ${{ inputs.build-args }}
          tags: |
            ${{ needs.build-image-names.outputs.names-with-tags }}
          labels: |
            env=${{ inputs.deploy-env }}
            type=${{ inputs.application-type }}          
