name: Deployable

on:
  workflow_call:
    secrets: 
      DEPLOY_TOKEN:
        description: 'Token that is used to determine if the deployment is allowed - Defined in org action secrets'
        required: true
      PRODUCTION_DEPLOYERS:
        description: 'Name of the team that defines who can deploy to production - Defined in org action secrets'
        required: true

    inputs:
      deploy-env:
        description: 'environment to deploy to - one of dev, prod'
        required: true
        type: string

jobs:
  confirm-dev:
    runs-on: ubuntu-latest
    outputs:
      is-dev: ${{ env.IS_DEV }}
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4.1.1
        with:
          repository: 'clearlydefined/operations'
          ref: 'v1.1.1-rc11'
          path: 'operations'
      - id: confirm-dev
        shell: bash
        run: |
          script_log=$(./operations/scripts/app-workflows/confirm-dev.sh \
            ${{ inputs.deploy-env }}) || (echo "$script_log" && exit 1)
          echo -e "---- script log\n$script_log\n----"; \
          is_dev=$(echo "$script_log" | tail -n 1)
          echo "IS_DEV=$is_dev" >> $GITHUB_ENV

  deployable:
    runs-on: ubuntu-latest
    needs: confirm-dev
    # run deployable check for anything that is NOT dev (most conservative approach)
    if: ${{ needs.confirm-dev.outputs.is-dev != 'true' }}
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4.1.1
        with:
          repository: 'clearlydefined/operations'
          ref: 'v1.1.1-rc11'
          path: 'operations'

      - name: Get organization ID
        run: |
          script_log=$(./operations/scripts/app-workflows/get-org-id.sh \
            ${{ github.repository_owner }}) || (echo "$script_log" && exit 1)
          echo -e "---- script log\n$script_log\n----"; \
          org_id=$(echo "$script_log" | tail -n 1)
          echo "ORG_ID=$org_id" >> $GITHUB_ENV

      - name: Check team membership
        run: |
          echo "ORG_ID=${{ env.ORG_ID }}"
          user="${{ github.actor }}" 
          org_id=${{ env.ORG_ID }}
          org_name=${{ github.repository_owner }}

          team_info=$(curl \
            -H "Authorization: token ${{ secrets.DEPLOY_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/orgs/$org_name/teams)
          team_id=$(echo "$team_info" | jq '.[] | select(.name=="${{ secrets.PRODUCTION_DEPLOYERS }}") | .id')

          membership=$(curl \
            -H "Authorization: token ${{ secrets.DEPLOY_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/orgs/$org_id/team/$team_id/memberships/$user)

          if [[ $membership == *"active"* ]]; then
            echo "$user is a member of the team"
          else
            echo "$user does not have permissions to deploy"
            exit 1
          fi
