name: Build and test backup-data

on:
  push:
    branches: [main]
    paths:
      - 'tools/blobstorage-backupdata/**'
      - '.github/workflows/backup-data-build.yml'
  pull_request:
    branches: [main]
    paths:
      - 'tools/blobstorage-backupdata/**'
      - '.github/workflows/backup-data-build.yml'

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tools/blobstorage-backupdata
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build
