name: Build and test backup-data

on:
  push:
    branches: [main]
    paths:
      - 'tools/blobstorage-backupdata/**'
      - '.github/workflows/backup-data-build.yml'
  pull_request:
    branches: [main]
    paths:
      - 'tools/blobstorage-backupdata/**'
      - '.github/workflows/backup-data-build.yml'

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tools/blobstorage-backupdata
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup .NET
        uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
        with:
          global-json-file: ./tools/blobstorage-backupdata/global.json

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build
